{% extends 'layout.html.twig' %}

{% block content %}
    <div class="home-container">

        <div class="home-text">
            <h1>Because we know you'd rather fight than waste time organizing everything</h1>

            <a class="btn" href="/#">
                <button type="button">
                    Welcome in your WikiWar space !
                </button>
            </a>
        </div>

    </div>



{% endblock %}
