{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} | Quote
{% endblock %}

{% block content %}
    <main>
        <a href="../Home/apiSelector" ><img class="hamster-position" src="../assets/images/roman-hamster.png"></a>
        <div class="container text-center">
            <h1>Your inspirationnal quote of the day :</h1>
            <blockquote>
                <p>'{{ quote.quoteText }}'</p>
            </blockquote>
            <figcaption>{{ quote.quoteAuthor }}</figcaption>
        </div>
    </main>
{% endblock %}