@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Oswald&family=Syne+Tactile&display=swap');

html{
    /* FONTS */
--title-font: 'MedievalSharp', cursive;
--text-font: 'Oswald', sans-serif;
--third-font : 'Syne Tactile', cursive;
    /* COLORS  */
--text-color: #475c6c;
--main-color: #f7efd3;
--secondary-color: #8a8583;
--third-color: #cd8b62;
--fourth-color: #eed7a1;
}

body{
font-family: var(--text-font);
color: var(--text-color);

}

h1, h2, h3, h4, h5, h6{
    padding : 4rem;
    font-family: var(--title-font);
}

a{
    color: var(--secondary-color);
}

main{
    background-color: var(--main-color);
}

.container{
    height: 100vh;
}

#orbisPlan{
    width: 100%;
    height: 100vh;
}