{% extends 'layout.html.twig' %}
{% block content %}
    <div class="map">

        <div class="grid">
            
            <div class="wiki">
                <a href="../Wiki/wiki" id="wiki-btn"  ><img class="logo" src="../assets/images/howbutton1.png" width="200px"></a>
            </div>
            <div class="warsim">
                <a href="../Army/list" id="warsim-btn" ><img class="logo" src="../assets/images/army-sim1.png" width="200px"></a>
            </div>
            <div class="travel">
                <a href="../Travel/travel" id="travel-btn" ><img class="logo" src="../assets/images/messaging1.png" width="200px"</a>   
            </div>
            <div class="quote">
                <a href="../Quote/list" id="quote-btn" class="logo" width="200px"></a>   
            </div>
            <div class="weather">
                <a href="../Weather/weather" id="weather-btn" ><img class="logo" src="../assets/images/meteo1.png" width="200px"></a>   
            </div>
        </div>

    </div>
    <div class="message-board">
    <h1 id="messageBox">coucou</h1>
    </div>
{% endblock %}
