{% block content %}
    <div class="map-container">

        <div class="grid-container">
            
            <div class="wiki">
                <a id="wiki-btn" href="/@#"></a>
            </div>
            <div class="warsim">
                <a id="warsim-btn" href="/#"></a>
            </div>
            <div class="travel">
                <a id="travel-btn" href="/#"></a>   
            </div>
            <div class="quote">
                <a id="quote-btn" href="/#"></a>   
            </div>
            <div class="weather">
                <a id="weather-btn" href="/#"></a>   
            </div>
        </div>

    </div>
    <div class="message-board">
    <h1 id="messageBox"></h1>
    </div>
{% endblock %}
